@model project5_voting.Models.USER

@{
    ViewBag.Title = "Password Reset";
}

<h2>Password Reset</h2>

<form id="tempPasswordForm" asp-action="PasswordReset" method="post" class="container mt-4">
    <div class="card border-dark shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Verify Temporary Password</h4>
            <hr />
            <div class="form-group">
                <label for="tempPassword">Temporary Password:</label>
                <input type="password" class="form-control" id="tempPassword" name="TempPassword" required />
                <small id="tempPasswordHelp" class="form-text text-muted">Please enter your temporary password.</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Verify Temporary Password</button>
            </div>
            <div id="tempPasswordError" class="text-danger"></div>
        </div>
    </div>
</form>

