@model IEnumerable<project5_voting.Models.localList>

@{
    ViewBag.Title = "listsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .background {
        background-image: url('/img/vot.jpg'); /* تأكد من مطابقة المسار */
        background-size: cover; /* لجعل الصورة تغطي العنصر بالكامل */
        background-position: center; /* لمركزة الصورة */
        background-repeat: no-repeat; /* لمنع تكرار الصورة */
        height: 100vh; /* لضبط ارتفاع العنصر على ارتفاع نافذة العرض */
        width: 100%; /* لضبط عرض العنصر على عرض نافذة العرض */
    }

    .card-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .card {
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        text-align: center;
        margin: 10px;
    }

        .card img {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #ddd;
        }

        .card h5 {
            margin: 10px 0;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
</style>

<div class="container">
    <h2>Local Lists</h2>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.listName</h5>
                        @*<h6 class="card-subtitle mb-2 text-muted">Election District: @item.electionDistrict</h6>*@
                        <p class="card-text">
                            <a href="@Url.Action("CandidatesName", new { id = item.id })" class="btn btn-primary">اسماء المرشحين</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "localAndparty")
</p>
