
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        .card-container {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .card {
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            text-align: center;
            margin: 10px;
        }

            .card img {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #ddd;
            }

            .card h5 {
                margin: 10px 0;
            }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #004085;
            }
    </style>
</head>

<h1>القوائم المحلية و الحزبية  </h1>

<body>


    <hr />
    <div class="card-container">
        <div class="card">
            <img src="~/img/voting2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">القوائم الحزبية</h5>
                @Html.ActionLink("انتقل الى القائمة", "partyName", null, new { @class = "btn-primary" })


            </div>
        </div>
        <div class="card">
            <img src="~/img/voting.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">القوائم المحلية</h5>

                @Html.ActionLink("انتقل الى القائمة", "areaName", null, new { @class = "btn-primary" })

            </div>
        </div>
    </div>


</body>
</html>



